<h1>Latest headlines...</h1>
<br>

<% Article.all.each do |article| %>
  <a href="<%= article.url %>" target="_blank">
    <%= article.headline %>
  </a>
  <br>
   Fuente:
   <% source = article.newspaper_id %>
   <% %>
  <%= Newspaper.find(source).newspaperName %>

  <br> 
  <br> 
<% end %>
